
* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
ul {
    margin: 0;
    padding: 0;
}
  

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #bcd7ff;
    font-size: 18px;
    transition: 0.2s;
  
/* gli elementi non devono essere clickabili */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #a88a8a;
}
  

ul li.checked {
    background: #5f4f4f;
    color: #fff;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* close btn */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #9f4e48;
    color: white;
}
  
/* stle top */
.top {
    background-color: #c78e8a;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.top:after {
    content: "";
    display: table;
    clear: both;
}
  
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
/* style add btn */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #af5f5f;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.addBtn:hover {
    background-color: #e05252;
}